* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;
}

body {
  display: grid;
  height: 100vh;

  font-family: "Roboto", sans-serif;
}

button {
  background-color: transparent;
  border: none;

  cursor: pointer;
}

.hide {
  display: none;
}

.light-mode,
.dark-mode {
  align-self: start;
  justify-self: end;

  padding: 6rem 6rem 0 0;
}

main {
  align-self: start;
  justify-self: center;
  display: flex;
  gap: 19.2rem;
}

.timer__display {
  display: flex;
  font-size: 12.6rem;
  margin-bottom: 4.8rem;
}

.timer__controls {
  display: flex;
  justify-content: center;
  gap: 4rem;
}

#sons {
  display: grid;
  grid-template-areas:
    "A B"
    "C D";
  gap: 3.2rem;
}

.sons__card {
  width: 13.8rem;
  height: 15.2rem;

  background-color: #e1e1e6;
  border-radius: 2.4rem;
  position: relative;
  cursor: pointer;
}

.sons__card:hover {
  background-color: #02799d;
}

.sons__card svg {
  position: absolute;
  top: 4.8rem;
  left: 4.7rem;
}

.sons__card svg path {
  fill: #323238;
}

.sons__card input {
  width: 9rem;
  height: 1.6rem;
  position: absolute;
  top: 11.2rem;
  right: 2.4rem;
  bottom: 2.4rem;
  left: 2.4rem;
}
